.Navbar_container{
  width: 90%;
  height:5%;
  margin-left: 5%;
}
.Navbar_top{
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.skyscanner_logo{
  width: 250px;
  height: 80px;
}
.flag_in_button{
  width:20px;
}
.Navbar_top_right{
  display: flex;
  align-items: center;
  margin-left: 50px;
  justify-content:flex-end;
}
.navbar_button_top{
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  padding: 10px;
  border-radius:7px;
  border: 3px solid rgb(198, 198, 198);
  border-width: 4px;
}
.Navbar_top_right Button:hover{
  border-color:#538dff ;
}
.navbar_help_top{
  color: #538dff;
  font-size: 20px;
  cursor: pointer;
}
.Navbar_top_right a:hover{
   text-decoration:underline;
}
.navbar_button_top2{
  color: #538dff;
  font-weight: bold;
  padding: 6px;
}
.Navbar_bottom{
  display: flex;
  flex-direction: row;
}
.navbar_bottom_buttons{
  background-color: #538dff;
  padding:10px;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 130px;
  height: 50px;
  font-size: 18px;
  justify-content: center;
  font-weight: bold;

}
.button_color{
  background-color:#00063c;
  margin-left: 20px;
}
.navbar_buttons_icons{
  font-size:20px;
  padding-right: 5px;
}
.Navbar_bottom Button:hover{
  background-color:#00063c;
}
